@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --purple: #686aac;
  --white: #ffffff;
  --light-grey: #636363;
}

.header {
  background-color: var(--purple);
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--white);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 40px auto;
}

.about-me img {
  width: 25%;
  margin-right: 30px;
}

.about-me-text h2,
.card-subtitle,
.project-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-me-text p {
  font-weight: 300;
}

hr {
  width: 50%;
  color: var(--light-grey);
  align-content: center;
}

.learning-title {
  margin: 3rem 0;
  color: var(--purple);
  font-size: 3rem;
  text-align: center;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
}

.card img {
  margin-bottom: 20px;
  width: 100%;
}

.card-text {
  text-align: justify;
  font-weight: 300;
}

.nav-link {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 250px;
  padding: 15px 10px;
  background-color: #686aac;
  margin-bottom: 20px;
}

.link {
  letter-spacing: 0.3px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}

.projects-container {
  background-color: #686aac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
}

.project-card {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 35px;
  padding: 20px 0;
  text-align: center;
}

.project-gif {
  width: 500px;
  height: 280px;
}

.project-description {
  margin: 1rem;
}

.repositories-container {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 0 auto;
}

.repository-card {
  height: 200px;
  width: 450px;
  background-color: #686aac;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
}

@media (max-width: 768px) {
  .header {
    height: 300px;
  }

  .header-title {
    font-size: 2rem;
  }

  .about-me {
    flex-wrap: wrap;
    margin: 0;
    width: 80%;
    text-align: center;
  }

  .about-me img {
    width: 80%;
    margin-right: 0;
  }

  .learning-title {
    margin: 2rem 0;
    font-size: 2rem;
    padding: 0 20px;
  }

  .cards-container {
    width: 100%;
  }

  .card,
  .project-card {
    width: 70%;
  }

  .projects-container {
    width: 100%;
  }

  .project-card {
    height: auto;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-gif,
  .repository-card {
    width: 100%;
    height: 40%;
  }

  .project-description,
  .repository-card p {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .repositories-container {
    display: flex;
    flex-wrap: wrap;
  }
}
