.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.item {
  float: left;
}

.item .link {
  font-size: 1.3em;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #686aac;
}
