.list {
  background-color: #fff;
  border-radius: 1rem;
  padding: 70px 60px;
  margin: 0 auto;
}

h2 {
  color: #111;
  font-size: 2.25rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-container input {
  background: #fff;
  border: 0.5 solid #686aac;
  padding: 12px 24px;
  border-radius: 8px;
  height: 100px;
  width: 70%;
}

button {
  border-radius: 8px;
  border: 0;
  color: #fff;
  padding: 14px;
}

.add-container {
  display: flex;
  justify-content: flex-start;
}

.add-task {
  background: #686aac;
  width: 300px;
}

.remove-task {
  background: rgb(230, 79, 79);
}

main {
  width: 100%;
  margin: 0 auto;
}

.list-items {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.list-items > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 0.7px solid #7e7d7d;
  width: 60%;
}

.list-items li div p {
  font-size: 1.3em;
  color: #111;
}
