@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #ffffff;
  --grey: #89868d;
}

body {
  background: url(../images/bg.jpg);
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  margin: 20px 0;
}

nav ul {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  list-style: none;
}

nav ul a {
  color: var(--grey);
  text-decoration: none;
}

nav ul .active,
nav ul a:hover {
  color: var(--white);
}

nav .player {
  margin-left: 15%;
  width: 40%;
}

main {
  display: flex;
  margin-top: 2%;
  position: fixed;
}

h1 {
  position: absolute;
  top: 20%;
  left: 10%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  color: var(--white);
}

.container {
  position: relative;
  display: flex;
  padding-left: 10%;
  top: 250px;
}

.info-songs {
  color: var(--white);
  line-height: 1.2rem;
  margin-right: 50px;
}

.info-songs .song-title {
  text-transform: uppercase;
  font-weight: 400;
}

.info-songs .album {
  font-size: 0.8rem;
  font-weight: 300;
}

.info-songs .year {
  font-size: 0.8rem;
  font-weight: 200;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 120%;
}

@media (max-width: 480px) {
  nav img {
    padding: 5%;
  }

  nav {
    padding: 0 10px;
    margin: 0;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }

  nav ul {
    display: flex;
    width: 60%;
  }

  nav ul li {
    font-size: 0.8rem;
  }

  nav img.player {
    display: none;
  }

  main {
    display: inline;
    margin-top: 5%;
    padding: 5%;
  }

  h1 {
    position: static;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }

  .container {
    position: relative;
    display: flex;
    padding: 20px;
    margin: 30px auto;
    top: 20px;
    width: 100%;
  }

  .info-songs {
    margin: 0 auto;
    text-align: center;
  }

  .info-songs .song-title {
    text-transform: capitalize;
    font-weight: 300;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav {
    padding: 2% 3%;
  }

  nav ul {
    margin: 0 20px;
  }

  nav ul li {
    font-size: 0.8rem;
    font-weight: 500;
  }

  nav .player {
    margin-left: 5%;
    width: 50%;
  }

  main {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 3rem;
  }

  .container {
    padding-left: 5%;
    top: 200px;
    bottom: 0;
    width: 50%;
  }

  .image-container img {
    width: 120%;
    margin-top: 30%;
  }
}
